.message {
  margin-bottom: 10px;
  display: flex;
  color: var(--text);
  background-color: transparent; /* Remove background from the message container */
}

.message.outgoing {
  justify-content: flex-end;
}

.message.outgoing .message-content {
  background-color: var(--message-outgoing); /* Was not using Dark Theming Var */
  color: black; /* Make sure the text is readable */
}

body.dark-mode .message.outgoing .message-content {
  background-color: #4caf50;
  color: white;
}

.message.incoming {
  justify-content: flex-start;
}

.message .message-content {
  background-color: white;
  border-radius: 10px;
  padding: 8px 12px;
  display: inline-block;
  max-width: 80%;
  word-break: break-word;
  color: black;
}

body.dark-mode .message .message-content {
  background-color: #333;
  color: white;
}

.message .timestamp {
  font-size: 0.7em;
  color: var(--dark-gray);
  margin-left: 5px;
}