
.search-bar {
  padding: 10px;
  margin-right: 10px;
  background-color: var(--background);
  color: var(--text);
}

.search-bar input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: var(--light-gray);
  color: black; 
}

/* Dark mode styles */
body.dark-mode .search-bar input {
  background-color: var(--dark-secondary);
  color: var(--dark-text); /* Set text color to white in dark mode */
}