.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: var(--dark-text);
}

.sidebar-header .user-info {
  display: flex;
  align-items: center;
}

.sidebar-header .user-info .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar-header .header-actions {
  display: flex;
  align-items: center;
}